<html>
  <head>
    <title>APIs.guru - API Landing Pages</title>
    <meta name="description" content="Wikipedia for REST APIs" />
    <meta name="robots" content="index,follow" />
    <meta name="author" content="APIs.guru" />
    <style>
      body {
        padding: 20px;
        margin: 0;
      }
      p {
        margin: 0;
        padding: 2px;
        font-family: monospace;
      }
    </style>
  </head>
  <body>
    <h1>APIs.guru API definition reference</h1>
    <ul>
      {{ apiList }}
    </ul>
  </body>
</html>
